<!DOCTYPE html>
<html>

<head>
 <title>Two</title>
</head>
<body>
 <h1>Jablko</h1>
  <p>Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Pellentesque arcu. Morbi scelerisque luctus velit. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Etiam dictum tincidunt diam. Nulla non arcu lacinia neque faucibus fringilla. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Vivamus porttitor turpis ac leo. Fusce tellus. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. In convallis. Mauris metus. Quisque tincidunt scelerisque libero. Vivamus porttitor turpis ac leo.</p>
  <p><a href = "https://cs.wikipedia.org/wiki/Jablko">Více zde</a></p>
<img src ="https://cdn.rohlik.cz/cdn-cgi/image/f=auto,w=650/https://cdn.rohlik.cz/uploads/Michaela/jablko%20cervene.jpeg" alt = "Jablko">
 <h2>One</h2>
  <p>Integer imperdiet lectus quis justo. Pellentesque ipsum. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Praesent in mauris eu tortor porttitor accumsan. Morbi scelerisque luctus velit. Quisque porta. Integer in sapien. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nam quis nulla.</p>
  <p><a href = "one.html">O banánu se dozvíte zde</a></p>
  <img src ="imgs/banana.svg" alt= "Banán">
</body>

</html>
